@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.btn-primary{
    width: 180px;
    height: 64px;
    color: #ffffff;
    background-color: #ff900e;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.25rem;
}

/* header section */
header {
    /* background-color: #FF900E; */
    background-color: #FF900E1A
;
}
.h-adding{
    font-weight: 700;
    font-size: 2.9rem;
    color: #131313;
}
li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
}
.nav-item{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    padding-top: 35px;
    color: #424242
;
    
    /* gap: 20px; */
}
.nav-items{
    margin: 20px 50px 40px 20px;
}
.band{
    text-align: center;
    margin: 0px 430px 20px 430px;
    padding-top: 0px;
    padding-bottom: 30px;
}
.band-h{
    font-weight: 700;
    font-size: 4rem;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.band-p{
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
;
}
.banner-img {
    padding: 0px 10px 40px 135px;
}
.banner-img img{
    width: 1200px;
    height: 600px;

}







































/* responsive header */
@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
    }
    .band{
        margin-left: 100px;
        margin-right: 100px;
    }
    .band-h{
    font-weight: 600;
    /* display: block; */
    font-size: 2rem;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.banner-img{
    padding-left: 0px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    
}
    .banner-img img{
        max-width: 400px;
        height: auto;
        border-radius: 8px;
    }
    .nav-items{
    margin: 0px 10px 0px 10px;
}

.nav-item{
    gap: 30px;
    padding-top: 0px;
    padding-bottom: 10px;
    color: #424242
;
}
.btn-primary{
    width: 120px;
    height: 40px;
    color: #ffffff;
    background-color: #ff900e;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1rem;
}

}